.footer {
    background: url(../img/footer/Слой3.png) center/cover no-repeat;

    &__wrapper {
        padding-top: 40px !important;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__menu:nth-child(3) &__list:last-child  {
        border: 0;
    }

    &__menu:nth-child(3) {
        border-right: 1px solid #8B8A8A;
    }

    &__title {
        position: relative;

        padding-bottom: 20px;

        font-family: "Romul";
        font-size: 18.75px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;  
        
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: 68px;
            height: 2px;

            background: #D0AA8C;
        }
    }

    &__list {
        margin-top: 30px;
        border-right: 1px solid #8B8A8A;

        &_item {
            display: block;

            padding-right: 85px;
            margin-bottom: 3px;

            font-family: "Montserrat-SemiBold";
            font-size: 15.417px;
            color: #A4A4A4;
            line-height: 1.2;
            transition: color .1s ease-in-out;
            
            @media (min-width: 1000px) {
                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    &__info {

    }

    &__link {
        
        &_item {
            display: block;

            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.6);
            
            font-family: "Montserrat-SemiBold";
            font-size: 16.667px;
            color: rgba(255, 255, 255, 0.6);
            text-transform: uppercase;
            text-align: center; 
            transition: all .1s ease-in-out;

            @media (min-width: 1000px) {
                &:hover {
                    color: rgb(255, 255, 255);
                    border-color: rgb(255, 255, 255);
                }
            }
        }
    }

    &__social {
        background: #5d5d5d5d;
        padding: 5px 15px;
        
        &_wrapper {
            display: flex;
            justify-content: space-around;

            margin-top: 5px;
        }

        &_item {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 27px;
            height: 28px;

            &:hover::before {
                color: #D0AA8C;
            }

            &::before {
                content: '';
                position: absolute;
                
                width: 27px;
                height: 28px;
    
                font-family: 'Font Awesome 5 Free','Font Awesome 5 Brands';
                color: #9A9A9A;
                font-size: 29px;
                transition: color .1s ease-in-out;

            }

            &:first-child::before {
                content: '\f16d';
            }

            &:nth-child(2)::before {
                content: '\f082';
            }

            &:nth-child(3)::before {
                content: '\f0d5';
                height: 19px;
                font-size: 21px;
            }

            &:last-child::before {
                content: '\f08c';
            }
        }
    }

    &__contacts {
        &_phone {
            display: block;
            
            font-family: "Montserrat-SemiBold";
            font-size: 16.667px;
            color: #F2F2F2;
            line-height: 1.2;   
        }

        &_text {
            display: block;

            margin: 3px 0;

            font-family: "Montserrat-SemiBold";
            font-size: 8.333px;
            color: rgb(154, 154, 154);
            text-transform: uppercase;
            text-align: right;
            line-height: 1.2;
        }
    }

    &__copyright {
        margin-top: 50px;
        padding-bottom: 30px;

        font-family: "Montserrat-SemiBold";
        font-size: 15.417px;
        color: rgba(255, 255, 255, 0.302);
        line-height: 1.2;  
    }
}

@media (max-width: 1100px) {
    .footer__menu {
        margin-right: 10px;
    }

    .footer__list_item {
        padding-right: 25px;
    }
}

@media (max-width: 831px) {
    .footer__info {
        margin-top: 30px;
    }
}

@media (max-width: 647px) {
    .footer__list, .footer__menu:nth-child(3) {
        border: 0;
    }

    .footer__list_item {
        padding-right: 0px;
    }
}

@media (max-width: 585px) {
    .footer__menu:nth-child(3) {
        margin-top: 30px;
    }
}

@media (max-width: 415px) {
    .footer__menu:nth-child(2) {
        margin-top: 30px;
    }

    .footer__menu {
        margin-right: 50px;
    }
}