.header {
    padding-top: 16px;

    &__top {
        position: relative;
    
        display: flex;
        justify-content: space-between;
    
        &::before, &::after {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;

            width: 45.55%;
            height: 1px;
    
            background: black;
        }
    
        &::after {
            right: 0;
            left: inherit;
        }
    }
    
    &__contacts {
        display: flex;
    
        &_column:first-child {
            margin-right: 75px;
        }
    
        &_phone, &_text {
            font-family: "Montserrat-Bold";
        }
    
        &_phone {
            display: block;
    
            font-size: 16.667px;
            color: rgb(47, 44, 52);
            line-height: 1.2;
    
            &:last-child {
                margin-right: 0;
            }
        }
    
        &_text {
            position: relative;

            display: block;
            margin-top: 5px;

            font-size: 10.417px;
            color: rgb(208, 170, 140);
            text-transform: uppercase;  
            
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -1px);

                width: 39px;
                height: 1px;

                background: #D0AA8C;
            }
        }
    }
    
    &__logo {
        width: 213px;
        height: 81px;
        
        margin-right: -22px;
        background: url(../img/logo/logo.png) center/cover no-repeat;
    }
    
    &__contacts, &__info {
        margin-top: 40px;
    }
    
    &__info {
        display: flex;
    
        &_item {
            display: flex;
            align-items: center;
            justify-content: center;
    
            width: 186px;
            height: 30px;
            
            font-size: 12.5px;
            font-family: "Montserrat-Bold";
            color: rgb(47, 44, 52);
            text-transform: uppercase;  
            user-select: none;
            
            &:first-child {
                margin-right: 25px;
                border: 1px solid;
            }

            &:last-child {
                color: white;
                background: #D0AA8C;
            }
        }
    }
}

.header-menu {
    margin-top: 17px;
    background: #373238;
    
    &__list {
        display: flex;
        justify-content: space-between;
        
        padding: 20px 15px !important;
        
        & li:last-child {
            padding-right: 0 !important;
            border: 0;
        }

        & li {
            padding-right: 6.1%;
            border-right: 1px solid #737176;    
        }

        &_item {
            display: block;
            padding: 3px 0;

            font-family: "Romul";
            font-size: 14.583px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;  
        }
    }
}

.header-navigation__list {
    display: flex;
    justify-content: center;

    padding: 10px 0 12px 0;
    border-bottom: 1px solid #E8E8E9;

    & li {
        padding-left: 8px;
        margin-right: 8px;

        border-left: 2px solid #98969A;
    }

    & li:first-child {
        padding-left: 0;
        border: 0;
    }
    
    & li:last-child {
        border-left: 1px solid #D0AA8C;
    }

    & li:last-child   &_items {
        color: #D0AA8C;
    }

    &_items {
        font-family: "Montserrat-Bold";
        font-size: 10.417px;
        color: rgb(47, 44, 52);
        text-transform: uppercase;
        line-height: 1.2;     
    }
}

.burger {
    display: none;

    position: absolute;
    z-index: 50;
    right: 15px;

    margin-top: 48px;

    &__items {
        width: 20px;
        height: 3px;

        margin-bottom: 3px;

        background: #373238;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.header-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(100vw, 0);
    transition: transform .15s ease-in-out;

    padding: 15px;
    background: white;
}

.burger__items {
    transition: all .2s ease-in-out;
}

.burger-active .burger__items:first-child {
    transform: rotate(-45deg) translate(-4px,5px);
}

.burger-active .burger__items:nth-child(2) {
    opacity: 0;
}

.burger-active .burger__items:last-child {
    transform: rotate(45deg) translate(-3px,-5px);
}

.isActiveMenu {
    transform: translate(0, 0);
}

@media (max-width: 1100px) {
    .header__contacts_column:first-child {
        margin-right: 40px;
    }

    .header__info_item {
        width: 150px;
    }

    .header__logo {
        margin-right: 0;
    }

    .header-menu__list {
        padding: 12px 15px !important;
    }

    .header-mobile .header__contacts_column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 15px 0 !important;
    }

    .header-mobile .header-menu__list_item {
        color: black;
    }

    .header-mobile .header-menu__list {
        padding: 0 !important;
        flex-direction: column;
        align-items: center;
    }

    .header-mobile .header-menu__list li {
        padding-right: 0;
        margin-bottom: 10px;
        border: 0;
    }

    .header-mobile .header__info_item {
        margin: 0 auto;

    }

    .header-mobile .header__contacts_text::before {
        display: none;
    }
}

@media (max-width: 960px) {    
    .header {
        padding-top: 7px;

        &__logo {
            width: 190px;
            height: 73px;
        }
    
        &__contacts, .header__info {
            margin-top: 33px;
        }

        &__top {
            justify-content: space-between;
        }
        
        &-menu__list li {
            padding-right: 4.5%;
        }

        &__info {
            margin-right: 20px;
        }
    } 
    
    .burger {
        display: block;
        margin-top: 41px;
    }
}

@media (max-width: 800px) {
    .header__contacts_column:first-child {
        margin-right: 50px;
    }
    
    .header .header__logo {
        width: 180px;
        height: 68px;
    }

    .header-menu__list li {
        padding-right: 4.5%;
    }

    .header__info {
        margin-right: 15px;
    }

    .header-menu__list_item {
        font-size: 12.583px;
    }

    .header__contacts, .header__info {
        margin-top: 28px;
    }

    .header-menu {
        margin-top: 10px; 
    }
}

@media (max-width: 650px){
    .header__logo {
        width: 140px !important;
        height: 54px !important;
    }

    .header__top::after, .header__top::before {
        top: 5px;
        width: 43.55%;
    }

    .burger {
        margin-top: 29px;
    }
}