@font-face {
    font-family: "Montserrat-Medium";
    font-display: swap;
    src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-Regular";
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-Bold";
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Romul";
    font-display: swap;
    src: url("../fonts/Romul.woff") format("woff"), url("../fonts/Romul.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    font-display: swap;
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}